@model Entity.Services.ViewModels.CityViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-center text-danger">@TempData["Error"]</h3>
<form asp-action="Create">
    <div class="center" style="height: 500px; width: 90%;border: 1px solid black;margin: 30px 5% 30px 5%;">
        <div class="row">
            <div asp-validation-summary="ModelOnly"></div>
            <div class=" col-4 box">
                <label for="dateOfBirth">1.Tên Tỉnh/Thành Phố:</label>
                <input asp-for="CityName" style="width: 100%;" type="text">
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="botoom"
         style="display: flex ;align-items: center;justify-content:space-between ; margin: 0 5% 0 5%;">
        <a href=""> Danh sach employee </a>
        <button class="btn primary" type="submit">Luu</button>
    </div>
</form>
