@model Entity.Services.ViewModels.DistrictViewModel
@{
	ViewData["Title"] = "Degree";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-center text-danger">@TempData["Error"]</h3>
<div class="row">
	<div class="col-1">
		<a class="btn btn-primary" asp-controller="Degree" asp-action="Create">Create</a>
	</div>
	<div class="col-2" style="position:absolute;right:170px">
		<form asp-controller="Degree" asp-action="Index" method="get" class="my-2 mx-2">
			<div class="input-group">
				<input name="keyWord" class="form-control" id="inputSearch" aria-describedby="inputSearchComment" aria-label="Search">
				<button style="height:30px;text-align:center" class="btn btn-outline-secondary" type="submit" id="inputSearch">Search</button>
			</div>
		</form>
	</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>STT</th>
			<th>Tinh/Thanh Pho</th>
			<th>Quan/Huyen</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				1
			</td>
			<td id="cityName">
			</td>
			<td>
				@Model.DistrictName
			</td>
			<td>
				<form asp-action="Delete" asp-controller="District">
					<input type="hidden" asp-for="Id" />
					<input type="submit" name="Id" id="id" value="Delete" class="btn btn-danger" /> |
					<a asp-action="Index">Back to List</a>
				</form>
			</td>
		</tr>

	</tbody>
</table>
<script>
	$(document).ready(function () {
		var selectCity = $("#cityName");
		function fnCity() {
			selectCity.empty();
			$.ajax({
				url: `/GetCityById?CityId=${@Model.CityId}`,
				method: "GET",
				dataType: "json",
				success: function (data) {
					$("#cityName").val(data.content.id)
					$("#cityName").text(data.content.cityName)
					console.log("cityName", data.content);
				},
				error: function (xhr, status, error) {
					console.log("Error:", error);
				}
			})
		}
		fnCity();
	});
</script>