@using Entity.Data.Request
@model WardViewModel
@{
	ViewData["Title"] = "View";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center text-danger">@TempData["Error"]</h3>
<form asp-action="Edit">

	<div class="center" style="height: 500px; width: 90%;border: 1px solid black;margin: 30px 5% 30px 5%;">

		<div class="row">
			<div asp-validation-summary="ModelOnly"></div>
			<div class=" col-3 box ">
				<label for="city">1.Quận/Huyện:</label>
				<select asp-for="DistrictId"
						class="form-select"
						id="districtId">
				</select>
				<span asp-validation-for="DistrictId" class="text-danger"></span>
			</div>
			<div class="col-3 box ">
				<label for="dateOfBirth">1.Tên Xã/Phường:</label>
				<input asp-for="WardName" style="width: 100%;" type="text">
				<span asp-validation-for="WardName" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="botoom"
		 style="display: flex ;align-items: center;justify-content:space-between ; margin: 0 5% 0 5%;">
		<a href=""> Danh sach employee </a>
		<button class="btn primary" type="submit">Luu</button>

	</div>

</form>




