@using Entity.Data.Entity
@model Employee
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Họ Tên</th>
            <th>Ngày Sinh</th>
            <th>Số Điện Thoại</th>
            <th>Dân Tộc</th>
            <th>Nghề Nghiệp</th>
            <th>Căn Cước Công Dân</th>
            <th>Tỉnh</th>
            <th>Huyện</th>
            <th>Xã/Phường</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.DateOfBirth
            </td>
            <td>
                @Model.PhoneNumber
            </td>
            <td id="nationName">
            </td>
            <td id="jobName">

            </td>
            <td>
                @Model.IdentityCardNumber
            </td>
            <td id="cityName">
            </td>
            <td id="districtName">
            </td>
            <td id="wardName">
            </td>
            <td>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var selectCity = $("#cityName");
        var selectWard = $("#wardName");
        var selectDistrict = $("#districtName");
        var selectJobName = $("#jobName");
        var selectNationName = $("#nationName");
        function fnCity() {
            $.ajax({
                url: `/GetCityById?CityId=${@Model.CityId}`,
                method: "GET",
                dataType: "json",
                success: function (data) {
                    $("#cityName").text(data.content.cityName)
                    console.log(data.content);
                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                }
            })
        }
        function fnDistrict() {
            selectDistrict.empty();
            $.ajax({
                url: `/GetSingleDistrictById?id=${@Model.DistrictId}`,
                method: "GET",
                dataType: "json",
                success: function (data) {
                    selectDistrict.text(data.content.distictName);
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.log("Error:", error);
                }
            });
        }
        function fnWard() {
            selectWard.empty();
            $.ajax({
                url: `/GetSingleWardById?id=${@Model.WardId}`,
                method: "GET",
                dataType: "json",
                success: function (data) {
                    selectWard.text(data.content.wardName);
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.log("Error:", error);
                }
            });
        }
        function fnJob() {
            $.ajax({
                url: `/GetJobById?id=${@Model.JobId}`,
                method: "GET",
                dataType: "json",
                success: function (data) {
                    selectJobName.text(data.content.jobName)
                    console.log(data.content);
                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                }
            });
        }
        function fnNation() {
            $.ajax({
                url: `/GetNationById?id=${@Model.NationId}`,
                method: "GET",
                dataType: "json",
                success: function (data) {
                    selectNationName.text(data.content.nationName)
                    console.log(data.content);
                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                }
            });
        }
        fnCity();
        fnJob();
        fnDistrict()
        fnNation();
        fnWard();
    });
</script>